$hyperBackground: rgb(23,23,23);
$blanco: #ffffff;
$steakMarron: rgb(207,166,136);
$breeTitles: 'DM Serif Display', serif;
$domoArigatoMr: 'Roboto', sans-serif;
$logoFont: 'Great Vibes', cursive;

// Grid System
$grid-columns: 12;
$grid-max-width: 1200px; //breakpoint-small
$breakpoint-xs: "only screen and (min-width: 0px)";
$breakpoint-small: "only screen and (min-width: 451px)";
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-large: "only screen and (min-width: 1008px)";
$breakpoint-xl: "only screen and (min-width: 1300px)";